.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  min-width: 300px;
}

.field {
  margin-left: 10px;
}
